<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="/CSS/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,200,0,0&icon_names=wall_art"
    />
  </head>
  <body>
    <main class="success-message">
      <h2>Admin Login</h2>
      <form action="/admin" method="post">
        <input
          type="password"
          name="password"
          placeholder="Enter admin password"
          required
        />
        <button type="submit">Login</button>
      </form>
    </main>
  </body>
</html>
