<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Message Not Sent</title>
    <link rel="stylesheet" href="/CSS/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <main class="error-message">
      <h2>Error!</h2>
      <p>Sorry, your message could not be sent. Please try again later.</p>
      <a href="/">Back to home</a>
    </main>
  </body>
</html>
